<p id="notice"><%= notice %></p>
<%= link_to 'All projects', projects_path, class: 'btn btn-info mb-4' %>
<div class="card">
  <div class="card-body">
    <div class='card-title d-flex justify-content-between mb-4'>
      <div>
        <h2><strong><%= @project.title %></strong></h2>
      </div>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-warning' %> |
        <td><%= link_to 'Destroy', project_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    </div>
    <h6>Add task</h6>
    <%= render 'tasks/form' %>
  </div>
</div>
   
<div class="card">
  <div class="card-body">
    <p>
      <strong>Title:</strong>
      <%= @project.title %> </h2>
    </p>


    <p>
      <strong>Position:</strong>
      <%= @project.position %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @project.user_id %>
    </p>
  </div>
</div>
<hr>

<h4>Tasks</h4>
<% @project.tasks.each do |task| %>
  <% if task.persisted? %>
    <div class="card mb-3">
      <div class="card-body ">
        <div class='card-title d-flex justify-content-between mb-4'>
          <div>
              <%= task.title %>
              <%= task.description %>
            
              <%= task.is_done ? "[x]" : "[ ]"%>
            </div>
          <div>
            <td><%= link_to 'Show', [task.project, task], class: 'btn btn-info' %></td>
            <td><%= link_to 'Edit', edit_project_task_path(task.project, task), class: 'btn btn-warning' %></td>
            <td><%= link_to 'Destroy', [task.project, task],class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end%>


