<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tag.title %>
</p>

<p>
  <b>Project:</b>
  <%= @tag.project %>
</p>


<%= link_to 'Edit', edit_project_tag_path(@tag.project, @tag) %> |
<%= link_to 'Back', project_tags_path(@tag.project) %>
